<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="row">
      <div class="col-md-offset-2 col-sm-12 col-md-8 end">
        <p class="lead"><strong><em>Already registered?</em></strong><br />Just enter your email address and 
          password below and get access to your lists!</p>
        <div class="panel panel-primary">
          <div class="panel-heading">Log In</div>
          <div class="panel-body">
            <form (ngSubmit)="login(lEmail.value, lPassword.value, signupForm.valid)" #loginForm="ngForm">
              <fieldset>
                <legend>Log In</legend>
                <div [hidden]="!loginError" class="alert alert-danger">{{ loginErrorMessage }}</div>
                <div class="form-group" 
                      [ngClass]="{'has-success': lEmail.valid, 'has-error': !lEmail.valid && !lEmail.pristine}">
                  <label class="control-label col-sm-4 col-md-12" for="login-email">Email:</label>
                  <input class="form-control col-sm-8 col-md-10" 
                          name="loginEmail" required type="email" id="login-email" 
                          [(ngModel)]="loginEmail" #lEmail="ngModel" />
                </div>
                <div class="form-group"
                      [ngClass]="{'has-success': lPassword.valid}">
                  <label class="control-label col-sm-4 col-md-12" for="login-password">Password:</label>
                  <input class="form-control col-sm-8 col-md-10" 
                          name="loginPassword" required type="password" id="login-password" 
                          [(ngModel)]="loginPassword" #lPassword="ngModel" />
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-right">
                    <button class="btn btn-primary" [disabled]="!loginForm.form.valid">Log In</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="row">
      <div class="col-md-offset-2 col-sm-12 col-md-8 end">
        <p class="lead"><strong><em>Don't have an account yet?</em></strong><br />Just enter your email address 
          and choose a password below and join our site!</p>
        <div class="panel panel-primary">
          <div class="panel-heading">Sign Up</div>
          <div class="panel-body">
            <form (ngSubmit)="signup(sEmail.value, sPassword.value, signupForm.valid)" #signupForm="ngForm">
              <fieldset>
                <legend>Sign Up</legend>
                <div [hidden]="!signupError" class="alert alert-danger">{{ signupErrorMessage }}</div>
                <div class="form-group"
                      [ngClass]="{'has-success': sEmail.valid, 'has-error': !sEmail.valid && !sEmail.pristine}">
                  <label class="control-label col-sm-4 col-md-12" for="signup-email">Email:</label>
                  <input class="form-control col-sm-8 col-md-10" 
                          name="sEmail" type="email" id="signup-email" required 
                          [(ngModel)]="signupEmail" #sEmail="ngModel" />
                </div>
                <div class="form-group"
                      [ngClass]="{'has-success': sPassword.valid, 'has-error': !sPassword.valid && !sPassword.pristine}">
                  <label class="control-label col-sm-4 col-md-12" for="signup-password">Password:</label>
                  <input class="form-control col-sm-8 col-md-10" name="sPassword" 
                          type="password" id="signup-password" required validateEqual="sConfirm" reverse="true"
                          [(ngModel)]="signupPassword" #sPassword="ngModel" />
                </div>
                <div class="form-group"
                      [ngClass]="{'has-success': sConfirm.valid, 'has-error': !sConfirm.valid && !sConfirm.pristine}">
                  <label class="control-label col-sm-4 col-md-12" for="signup-confirmpassword">Confirm Password:</label>
                  <input class="form-control col-sm-8 col-md-10" name="sConfirm"
                          type="password" id="signup-confirmpassword" required validateEqual="sPassword"
                          [(ngModel)]="signupConfirmPassword" #sConfirm="ngModel" />
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-right">
                    <button class="btn btn-primary" [disabled]="!signupForm.form.valid">Sign Up</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
