<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Grocery App</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/grocery']">Grocery Lists</a>
        </li>
        <li>
          <a href="http://news.bootswatch.com">Blog</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn"><a [routerLink]="['/login']">Sign In</a></li>
        <li *ngIf="!isLoggedIn"><a [routerLink]="['/create-account']">Create Account</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logOut()">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>